{% comment %}
    A loop to catch and filter out the different tag categories.
    This is mainly for advanced tagging, but will also help us strip
    out any tag categories from our tags (E.g. remove BRAND_ from BRAND_tag)
{% endcomment %}
{% if template contains 'collection' and collection.all_tags.size > 0 %}
    {% assign categories = '' %}
    {% for tag in collection.all_tags %}
        {% if tag contains '_' %}
            {% capture categories %}{% unless categories == blank  %}{{ categories }}|{% endunless %}{{ tag | split: '_' | first }}{% endcapture %}
        {% endif %}
    {% endfor %}
    {% assign cat_array = categories | split: '|' | uniq %}
{% endif %}
