<script>
              if (typeof BSS_PL == 'undefined') {
                  var BSS_PL = {};
              }
              var bssPlApiServer = "https://product-labels-pro.bsscommerce.com";
              BSS_PL.customerTags = {% if customer %}'{%for tag in customer.tags%}{{ tag }},{% endfor %}'{% else %}'null'{% endif %};
              BSS_PL.configData = [{"name":"DUZEROSLINY","priority":0,"img_url":"","pages":"1,2,3,4,7","enable_allowed_countries":0,"locations":"","position":0,"fixed_percent":1,"width":30,"height":30,"product_type":2,"product":"","variant":"","collection":"266069278780","collection_image":"","inventory":0,"tags":"04 jaki rozmiar?_01 duża","excludeTags":"","enable_visibility_date":1,"from_date":"2022-03-22T23:00:00.000Z","to_date":"2022-03-31T09:59:00.000Z","enable_discount_range":0,"discount_type":1,"discount_from":null,"discount_to":null,"public_img_url":"","label_text":"-10%25%20Z%20KODEM%20%22DUZEROSLINY%22","label_text_color":"#225743","label_text_font_size":14,"label_text_background_color":"#ff7f50","label_text_no_image":1,"label_text_in_stock":"In Stock","label_text_out_stock":"Sold out","label_shadow":0,"label_opacity":100,"label_border_radius":0,"label_text_style":0,"label_shadow_color":"#808080","label_text_enable":1,"related_product_tag":null,"customer_tags":null,"exclude_customer_tags":null,"customer_type":"allcustomers","collection_image_type":0,"label_on_image":"2","first_image_tags":null,"label_type":2,"badge_type":3,"custom_selector":"{\"productPageSelector\":\"\",\"collectionPageSelector\":\"\",\"otherPageSelector\":\"\"}","margin_top":20,"margin_bottom":20,"mobile_config_label_enable":1,"mobile_height_label":null,"mobile_width_label":100,"mobile_font_size_label":null,"label_text_id":41283,"emoji":",127980,127793,","emoji_position":",19.6429% 10.7143%,10.7143% 16.0714%,","transparent_background":"1","custom_page":null,"check_custom_page":null,"label_unlimited_top":33,"label_unlimited_left":33,"label_unlimited_width":30,"label_unlimited_height":30,"margin_left":0,"instock":null,"enable_price_range":0,"price_range_from":null,"price_range_to":null,"enable_product_publish":0,"product_publish_from":null,"product_publish_to":null,"enable_countdown_timer":1,"option_format_countdown":0,"countdown_time":"2022-03-31T21:59:00.000Z","option_end_countdown":null,"start_day_countdown":"2022-03-23T12:57:23.000Z","public_url_s3":"","enable_visibility_period":0,"visibility_period":1,"createdAt":"2022-03-23T12:43:56.000Z","angle":0}];
              BSS_PL.storeId = 21334;
              BSS_PL.currentPlan = "ten_usd";
              BSS_PL.storeIdCustomOld = "10678";
              BSS_PL.storeIdOldWIthPriority = "12200";
              BSS_PL.apiServerProduction = "https://product-labels-pro.bsscommerce.com";
              
              </script>
          <style>
.homepage-slideshow .slick-slide .bss_pl_img {
    visibility: hidden !important;
}
</style>