{%- assign for_drawer = true -%}

{%- if template == 'cart' or template == 'cart.ajax' -%}
  {%- assign for_drawer = false -%}
{%- endif -%}
<h2 class="Heading ItemListHeading">Twoje zamówienie</h2>
<div class="Cart__ItemList">
  {%- for line_item in cart.items -%}
  {%- if for_drawer -%}
  <div class="CartItemWrapper">
    {%- endif -%}

    <div class="CartItem" {% if line_item.properties['_bundleID'] != blank %}data-item-bundle="{{ line_item.properties['_bundleID'] }}"{% endif %} data-id="{{ line_item.id }}" data-key="{{ line_item.key }}">
      <div class="CartItem__ImageWrapper AspectRatio">
        <div class="AspectRatio" style="--aspect-ratio: {{ line_item.image.aspect_ratio }}">
          <img class="CartItem__Image" src="{{ line_item.image | img_url: '240x' }}" alt="{{ line_item.image.alt | escape }}">
        </div>
      </div>

      <div class="CartItem__Info">
        <h2 class="CartItem__Title">
          <a href="{{ line_item.url }}">{{ line_item.product.title }}</a>
        </h2>

        <div class="CartItem__Meta">
          {%- unless line_item.product.has_only_default_variant -%}
            <p class="CartItem__Variant">{{ line_item.variant.title }}</p>
          {%- endunless -%}

          {% assign isBundle = false %}
          {% assign relatedProduct = null %}

          {%- if line_item.properties != empty -%}
            <ul class="CartItem__PropertyList">
              {%- for property in line_item.properties -%}
                {%- assign first_character_in_key = property.first | truncate: 1, '' -%}
                {%- if property.last == blank or first_character_in_key == '_' -%}
                  {%- if property.first == '_bundleID' -%}{% assign isBundle = property.last %}{%- endif -%}
                  {%- if property.first == '_bundleRelated' -%}{% assign relatedProduct = property.last %}{%- endif -%}
                  {%- continue -%}
                {%- endif -%}

                <li class="CartItem__Property">{{ property.first }}: {{ property.last }}</li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
        {%- capture item_actions -%}
        <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
          {%- endcapture -%}
          {%- unless for_drawer -%}
            <a href="/cart/change?quantity=0&id={{ line_item.id }}" class="CartItem__Remove Link Link--underline Link--underlineShort" onclick="event.preventDefault(); {% if isBundle %}removeBundle(event);{% else %}removeItem('{{ line_item.key }}');{% endif %}" data-quantity="0" data-line-id="{{ line_item.key }}" {% if isBundle %}data-bundle="{{ line_item.properties['_bundleID'] }}" data-related="{{ relatedProduct }}"{% endif %} data-action="remove-item">{{ 'cart.items.remove' | t }}</a>
          {%- endunless -%}
        </div>
        {%- unless for_drawer -%}
          <span class="CartItem__LinePrice Price" data-money-convertible style="text-align: right">{{ line_item.final_line_price | money_without_trailing_zeros }}</span>
        {%- endunless -%}
      </div>
      {%- if for_drawer -%}
      <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
        <a href="/cart/change?quantity=0&id={{ line_item.id }}" class="CartItem__Remove Link Link--underline Link--underlineShort" onclick="event.preventDefault(); {% if isBundle %}removeBundle(event);{% else %}removeItem('{{ line_item.key }}');{% endif %}" data-quantity="0" data-line-id="{{ line_item.key }}" {% if isBundle %}data-bundle="{{ line_item.properties['_bundleID'] }}" data-related="{{ relatedProduct }}"{% endif %} data-action="remove-item">{{ 'cart.items.remove' | t }}</a>
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
  </div>

  <script>
    function checkBundleCorrectness() {
      const cartItems = document.querySelectorAll('.CartItem[data-item-bundle]');

      for (let item of cartItems) {
        const bundleID = item.getAttribute('data-item-bundle');
        const bundleItems = document.querySelectorAll(`[data-item-bundle='${bundleID}']`);

        if (bundleItems.length < 2) {
          const removeID = item.getAttribute('data-key');
          setTimeout(function() {
            removeItem(removeID);
          }, 1500);
        }
      }
    }
    function changeQty(qty, inputId, e) {
      e.preventDefault();
      e.stopPropagation();

      const cartItem = $(e.currentTarget).parent().find('#'+inputId);
      const cartItemID = cartItem.attr('data-lineid');
      const cartItemBundle = cartItem.attr('data-bundle');

      const cartUpdates = {
        updates: {}
      };
      cartUpdates.updates[cartItemID] = qty;
      if (cartItemBundle) {
        const relatedID = cartItem.attr('data-related');
        const relatedKey = document.querySelector(`.CartItem[data-item-bundle='${cartItemBundle}'][data-id='${relatedID}']`).getAttribute('data-key');
        cartUpdates.updates[relatedKey] = qty;
      }

      $.ajax({
        url: '/cart/update.js',
        type: 'POST',
        cache: false,
        data: cartUpdates,
        dataType: 'json',
        success: function(data) {
          window.top.location.reload(true);
        },
        error: function(err) {
          window.top.location.reload(true);
        }
      });
    };
    function removeItem(id) {
      const cartUpdates = {
        updates: {}
      };
      cartUpdates.updates[id] = 0;

      $.ajax({
        url: '/cart/update.js',
        type: 'POST',
        cache: false,
        data: cartUpdates,
        dataType: 'json',
        success: function(data) {
          window.top.location.reload(true);
        },
        error: function(err) {
          console.log('Updating cart error: ', err);
        }
      });
    }
    function removeBundle(e) {
      const removeItem = $(e.currentTarget);
      const itemBundleID = removeItem.attr('data-bundle');
      const itemRelatedID = removeItem.attr('data-related');

      if (itemRelatedID) {
        e.preventDefault();
        const removeID = removeItem.attr('data-line-id');
        const itemRelatedKey = document.querySelector(`.CartItem[data-item-bundle='${itemBundleID}'][data-id='${itemRelatedID}']`).getAttribute('data-key');
        const cartUpdates = {
          updates: {}
        };
        cartUpdates.updates[removeID] = 0;
        cartUpdates.updates[itemRelatedKey] = 0;
        $.ajax({
          url: '/cart/update.js',
          type: 'POST',
          cache: false,
          data: cartUpdates,
          dataType: 'json',
          success: function(data) {
            window.top.location.reload(true);
          },
          error: function(err) {
            window.top.location.reload(true);
          }
        });
      }
    };

    checkBundleCorrectness();
  </script>