{% comment %}
    This is borrowed from the supply theme -- collection-sidebar.liquid;
    modified for droplists instead of checkboxes by tim.
    modified to hide degenerate choices

    only group filtering is left, no simple tags
{% endcomment %}

  {% if collection.all_tags.size > 0 %}
      {% include 'advanced-tag-loop' %}

      {% comment %}
          Loop through tag categories
      {% endcomment %}
      
      <div class="container">
          <div class="row align-items-center justify-content-center">
              {% for cat_item in cat_array %}
                  {% assign tags_in_group =  0 %}
                  {% for tag in collection.all_tags %}
                      {% assign cat = tag | split: '_' | first %}


                      {% if cat != tag and cat_item == cat %}
                          {% comment %}
                              Now this is an advanced tag and in this group, otherwise skip it
                          {% endcomment %}

                          {% assign tags_in_group =  tags_in_group | plus: 1 %}
                          {% if current_tags contains tag %}
                              {% assign tags_in_group  =  tags_in_group | plus: 100 %}
                          {% endif %}

                          {% if tags_in_group > 1 %}
                              {% break %}
                          {% endif %}
                      {% endif %}
                  {% endfor %}

                  {% if tags_in_group > 1 %}

                      {% comment %}
                          Now we know that current category either used in filter
                          or has more than one choice
                      {% endcomment %}

                      <div class="col-md-3 text-center">
                          <div class="dropdown coll-filter">
                              <button class="btn dropdown-toggle" type="button"
                                      id="dropdownMenuButton-{{ cat_item }}" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false">
                                  {{ cat_item | remove: '01 ' | remove: '02 ' | remove: '03 '| remove: '04 ' | replace: 'kiedy', 'jakie'  }}
                                  <svg class="Icon Icon--select-arrow" role="presentation" viewBox="0 0 19 12">
      <polyline fill="none" stroke="currentColor" points="17 2 9.5 10 2 2" fill-rule="evenodd" stroke-width="2" stroke-linecap="square"></polyline>
    </svg>
                              </button>
                             <i class="TooltipTrigger tooltip tooltip-{{ cat_item }}"><svg enable-background="new 0 0 437.6 437.6" version="1.1" viewBox="0 0 437.6 437.6" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
			<path d="m194 142.8c0.8 1.6 1.6 3.2 2.4 4.4s2 2.4 2.8 3.6c1.2 1.2 2.4 2.4 4 3.6 1.2 0.8 2.8 2 4.8 2.4 1.6 0.8 3.2 1.2 5.2 1.6s3.6 0.4 5.2 0.4 3.6 0 5.2-0.4 3.2-0.8 4.4-1.6h0.4c1.6-0.8 3.2-1.6 4.8-2.8 1.2-0.8 2.4-2 3.6-3.2l0.4-0.4c1.2-1.2 2-2.4 2.8-3.6s1.6-2.4 2-4c0-0.4 0-0.4 0.4-0.8 0.8-1.6 1.2-3.6 1.6-5.2s0.4-3.6 0.4-5.2 0-3.6-0.4-5.2-0.8-3.2-1.6-5.2c-1.2-2.8-2.8-5.2-4.8-7.2l-0.8-0.8c-1.2-1.2-2.4-2-4-3.2-1.6-0.8-2.8-1.6-4.4-2.4s-3.2-1.2-4.8-1.6c-2-0.4-3.6-0.4-5.2-0.4s-3.6 0-5.2 0.4-3.2 0.8-4.8 1.6h-0.4c-1.6 0.8-3.2 1.6-4.4 2.4-1.6 1.2-2.8 2-4 3.2s-2.4 2.4-3.2 3.6-1.6 2.8-2.4 4.4-1.2 3.2-1.6 4.8c-0.4 2-0.4 3.6-0.4 5.2s0 3.6 0.4 5.2c0.4 3.2 1.2 4.8 1.6 6.4z"/>
			<path d="m249.6 289.2h-9.2v-98c0-5.6-4.4-10.4-10.4-10.4h-42c-5.6 0-10.4 4.4-10.4 10.4v21.6c0 5.6 4.4 10.4 10.4 10.4h8.4v66.4h-8.4c-5.6 0-10.4 4.4-10.4 10.4v21.6c0 5.6 4.4 10.4 10.4 10.4h61.6c5.6 0 10.4-4.4 10.4-10.4v-21.6c0-6-4.8-10.8-10.4-10.8z"/>
			<path d="m218.8 0c-120.8 0-218.8 98-218.8 218.8s98 218.8 218.8 218.8 218.8-98 218.8-218.8-98-218.8-218.8-218.8zm0 408.8c-104.8 0-190-85.2-190-190s85.2-190 190-190 190 85.2 190 190-85.2 190-190 190z"/>
</svg>

                               <div class="bottom"></div>
                             </i>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ cat_item }}">
                                  {% for tag in collection.all_tags %}
                                      {% assign cat = tag | split: '_' | first %}
                                      {% if cat != tag and cat_item == cat %}

                                          {% if current_tags contains tag %}
                                              {% comment %} this is the currently selected tag {% endcomment %}

                                              <button type="button" class="dropdown-item {{ tag | handle }} selected"
                                                      data-tag="{{ tag | handle }}">
                                                  {{ tag | remove_first: cat_item | remove_first: '_' | remove: '01 ' | remove: '02 ' | remove: '03 ' | remove: '04 ' | replace: '-',' ' }}
                                              </button>
                                          {% else %}
                                              <button type="button" class="dropdown-item {{ tag | handle }}" data-tag="{{ tag | handle }}">
                                                  {{ tag | remove_first: cat_item | remove_first: '_' | remove: '01 ' | remove: '02 ' | remove: '03 ' | remove: '04 ' | replace: '-',' ' }}
                                              </button>
                                          {% endif %}

                                      {% endif %}
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                  {% endif %}
              {% endfor %}

              {% comment %}
                  Part for simple tags removed entirely, may be later...
              {% endcomment %}
          </div>
      </div>

  {% else %}
      <!--<p>{{ 'collections.sidebar.no_tags' | t }}</p>-->
  {% endif %}