<?xml version="1.0" encoding="UTF-8"?>
<svg enable-background="new 0 0 512.002 512.002" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
<path d="m511.27 197.26c-1.764-5.431-6.457-9.389-12.107-10.209l-158.72-23.065-70.985-143.83c-2.526-5.12-7.741-8.361-13.45-8.361-5.71 0-10.924 3.241-13.451 8.361l-70.988 143.83-158.72 23.065c-5.649 0.82-10.344 4.778-12.108 10.208-1.765 5.431-0.293 11.392 3.796 15.377l114.85 111.95-27.108 158.08c-0.966 5.628 1.348 11.314 5.967 14.671 2.613 1.898 5.708 2.864 8.818 2.864 2.388 0 4.784-0.569 6.978-1.723l141.97-74.638 141.96 74.637c5.055 2.657 11.178 2.215 15.797-1.141s6.934-9.044 5.969-14.672l-27.117-158.08 114.86-111.96c4.088-3.984 5.561-9.945 3.795-15.375z"/></svg>