<div class="product-rating product-rating--{{ product.metafields.stamped.reviews_average | round }} {{ extra_class }}">
  <div class="product-rating__stars">
  {% for i in (0..4) %}{% include 'icon-star' %}{% endfor %}
  </div>
  <span class="product-rating__count">{{ product.metafields.stamped.reviews_count }} Opinie</span>
</div>