<div class="ProductItem {% if use_horizontal %}ProductItem--horizontal{% endif %}">
  <div class="ProductItem__Wrapper">
    {%- comment -%}
    We are using LazySizes to efficiently choose the most appropriate image in the set. However, because internally LazySizes uses srcset, we need to make
    sure that the image sizes we offer is not larger than the max size uploaded by the merchants.
    {%- endcomment -%}

    {%- if settings.product_image_size == 'natural' or use_horizontal -%}
      {%- assign use_natural_size = true -%}
    {%- else -%}
      {%- assign use_natural_size = false -%}
    {%- endif -%}

    {%- if settings.product_show_secondary_image and product.images[1] != blank and use_horizontal != true -%}
      {%- assign has_alternate_image = true -%}
    {%- else -%}
      {%- assign has_alternate_image = false -%}
    {%- endif -%}
    
    {% comment %} Product Badge
	{% for tag in product.tags %}
        {% if tag contains 'dzieci' %}
             <span class="has_label kids">
               <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.67 53.87"><defs><style>.cls-1{fill:#fff;}</style></defs><title>bezpieczna dla dzieci i zwierząt</title><path class="cls-1" d="M21.23,31a1.83,1.83,0,1,1-1.82-1.83A1.81,1.81,0,0,1,21.23,31Zm0,0"/><path class="cls-1" d="M40.42,31a1.83,1.83,0,1,1-1.83-1.83A1.82,1.82,0,0,1,40.42,31Zm0,0"/><path class="cls-1" d="M52,30.23a5.4,5.4,0,0,0-4.44-5.3v-.8a18.56,18.56,0,0,0-37.12,0v.8a5.38,5.38,0,0,0,.06,10.61,10.78,10.78,0,0,0,5.58,9C19.06,46.21,23.28,47,29,47s9.94-.81,12.92-2.48a10.78,10.78,0,0,0,5.58-9A5.39,5.39,0,0,0,52,30.23Zm-45.06.29a4.5,4.5,0,0,1,3.5-4.24v8.48a4.49,4.49,0,0,1-3.5-4.24Zm39.55,3.91c0,4.39-1.6,7.42-4.88,9.28-2.81,1.58-6.91,2.35-12.54,2.35s-9.73-.77-12.53-2.35c-3.29-1.86-4.89-4.89-4.89-9.28V24A17.53,17.53,0,0,1,24.07,7.24c5.46.07,8.37,4,8.37,6.91a4,4,0,0,1-4,4,3,3,0,0,1-3-3A2.2,2.2,0,0,1,27.68,13a1,1,0,0,0,0-2,4.18,4.18,0,0,0-4.17,4.19,5,5,0,0,0,5,5,6,6,0,0,0,6-6,8.58,8.58,0,0,0-2.77-6,10.55,10.55,0,0,0-2.35-1.67A17.48,17.48,0,0,1,46.49,24Zm1.07.33V26.28a4.55,4.55,0,0,1,3.64,4.24,4.54,4.54,0,0,1-3.64,4.24Zm0-1.18"/><path class="cls-1" d="M32.68,33.63a5.23,5.23,0,0,1-7.36,0,.93.93,0,0,0-1.34,0A1,1,0,0,0,24,35a7.1,7.1,0,0,0,10,0,1,1,0,0,0,0-1.34.93.93,0,0,0-1.34,0Zm0,0"/></svg>
    		   <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.67 53.87"><defs><style>.cls-1,.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:1.42px;}.cls-1{stroke-miterlimit:10;}.cls-2{stroke-linejoin:round;}</style></defs><title>bezpieczne dla dzieci i zwierząt</title><ellipse class="cls-1" cx="21.98" cy="13.65" rx="4.47" ry="6.7" transform="translate(-2.06 4.09) rotate(-10.16)"/><ellipse class="cls-1" cx="9.17" cy="25.69" rx="3.57" ry="5.35" transform="translate(-12.89 9.65) rotate(-34.33)"/><ellipse class="cls-1" cx="47.22" cy="26.88" rx="5.35" ry="3.57" transform="translate(-1.61 50.71) rotate(-55.67)"/><ellipse class="cls-1" cx="38.08" cy="14.84" rx="6.7" ry="4.47" transform="translate(8.1 42.61) rotate(-64.09)"/><path class="cls-2" d="M15.12,45.31s-4.76-2.38-3.57-5.94,7.13-7.14,8.32-10.71,10.7-3.56,14.27-1.19,2.38,8.33,6,11.9,1.19,7.13-2.38,7.13S15.12,45.31,15.12,45.31Z"/></svg>
    		 </span>
        {% endif %}
    	{% if tag contains 'cień' %}
             <span class="has_label shadow">
    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.67 53.87"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.42px;}</style></defs><title>do cienistych pomieszczeń</title><circle class="cls-1" cx="34.94" cy="28.48" r="14.06"/><line class="cls-1" x1="7.26" y1="28.31" x2="16.89" y2="28.31"/><line class="cls-1" x1="15.82" y1="9.13" x2="22.63" y2="15.94"/><line class="cls-1" x1="15.82" y1="49.23" x2="22.63" y2="42.42"/></svg>
    		 </span>
        {% endif %}
    	{% if tag contains 'powietrze' %}
             <span class="has_label air">
    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.67 53.87"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.42px;}.cls-2{fill:#fff;}</style></defs><title>oczyszczające powietrze</title><circle class="cls-1" cx="19.72" cy="15.72" r="7.72"/><circle class="cls-1" cx="40.09" cy="21.89" r="3.7"/><circle class="cls-1" cx="32.68" cy="37.94" r="5.56"/><path class="cls-2" d="M17.88,16.45a1.07,1.07,0,0,0,0-2.13,1.07,1.07,0,0,0,0,2.13Z"/><path class="cls-2" d="M18.57,16.22a1.07,1.07,0,0,0,0-2.13,1.07,1.07,0,0,0,0,2.13Z"/><path class="cls-2" d="M18.11,17.14a1.07,1.07,0,0,0,0-2.13,1.07,1.07,0,0,0,0,2.13Z"/><path class="cls-2" d="M39.93,22.42a1.07,1.07,0,0,0,0-2.13,1.07,1.07,0,0,0,0,2.13Z"/><path class="cls-2" d="M40.16,23.34a1.07,1.07,0,0,0,0-2.13,1.07,1.07,0,0,0,0,2.13Z"/><path class="cls-2" d="M31.66,37.12a1.06,1.06,0,0,0,0-2.12,1.06,1.06,0,0,0,0,2.12Z"/><path class="cls-2" d="M32.12,37.58a1.06,1.06,0,0,0,0-2.12,1.06,1.06,0,0,0,0,2.12Z"/><path class="cls-2" d="M31.66,38.27a1.06,1.06,0,0,0,0-2.12,1.06,1.06,0,0,0,0,2.12Z"/><path class="cls-2" d="M18.8,15.3a1.07,1.07,0,0,0,0-2.13,1.07,1.07,0,0,0,0,2.13Z"/></svg>
    		 </span>
        {% endif %}
    	{% if tag contains 'mało' %}
             <span class="has_label beginner">
    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.67 53.87"><defs><style>.cls-1{fill:#fff;}</style></defs><title>dla początkujących</title><path class="cls-1" d="M36.51,15c-4.47,1.9-6,7.29-7.41,11.56a57.37,57.37,0,0,0-2.53,19.79c0,1,1.57,1,1.53,0a57.09,57.09,0,0,1,1.53-16.06c1.17-4.66,2.8-11.91,7.66-14,.9-.38.12-1.7-.78-1.32Z"/><path class="cls-1" d="M17.7,22.74c1.33.07,2.76,1.87,3.71,2.72s1.93,1.69,2.84,2.59a11.06,11.06,0,0,1,2.2,2.76c.46.92.35,1.9.71,2.81a.77.77,0,0,0,1.12.45l.17-.07a.77.77,0,0,0,.27-1l0-.1c-.45-.88-1.77-.11-1.32.77l0,.1.27-1-.16.07,1.12.46c-.4-1-.32-2.15-.86-3.17a13.92,13.92,0,0,0-2.93-3.55c-1.39-1.3-2.82-2.56-4.25-3.82a4.54,4.54,0,0,0-2.89-1.46c-1-.05-1,1.48,0,1.53Z"/><path class="cls-1" d="M32,22.37C23.24,6.92,44.3,7.53,53.24,9.13L52.9,7.85c-6.48,5-10.75,15.4-20.25,14.74-1-.06-1,1.47,0,1.53,10.11.7,14.44-9.85,21.33-15.18a.77.77,0,0,0-.34-1.28c-6.93-1.24-15.41-2.77-21.57,1.7-5.18,3.76-4.18,8.83-1.36,13.78A.76.76,0,0,0,32,22.37Z"/><path class="cls-1" d="M24.75,25.5c2.72-4.1,0-8.93-3.62-11.5C15,9.67,9.22,14.42,2.86,15.25a.78.78,0,0,0-.55,1.3c3.47,4,4.79,8.82,10,10.9,3.82,1.51,8.28,1.87,12,.06.89-.43.11-1.75-.77-1.32-4.58,2.22-11.53.73-14.91-3.05-2.07-2.32-3.23-5.31-5.28-7.67l-.54,1.31c3.39-.44,6.34-2,9.63-2.79a9.1,9.1,0,0,1,8.65,2c2.48,2.18,4.37,5.62,2.29,8.76-.55.82.78,1.59,1.32.77Z"/><path class="cls-1" d="M37.79,35.26c-1.29-.24-2.19-2.87-2.26-4l0-.71,1-.21c.17.14.12.78.19,1a1,1,0,0,0,.59.75c.88.38,1.38-.53,2-1a1.17,1.17,0,0,1,1.84,1.27,1.74,1.74,0,0,1-1.33,1.09,24.61,24.61,0,0,1-2.58.35c-1,.13-.55,1.61.41,1.48,1.42-.19,3.21-.13,4.26-1.25a3.26,3.26,0,0,0,.59-3.43,2.35,2.35,0,0,0-2.58-1.47,3.35,3.35,0,0,0-1.54.74,9.94,9.94,0,0,0-.77.7c.4.11.57.05.5-.19a2.33,2.33,0,0,0-.11-.51c-.75-2.47-3.51-1.9-3.95.43-.38,2,1,6,3.32,6.39,1,.18,1.38-1.29.41-1.48Z"/></svg>
    		</span>
        {% endif %}
    {% endfor %}
    {% endcomment %}
    
    <a href="{{ product.url | within: collection }}" class="ProductItem__ImageWrapper {% if has_alternate_image %}ProductItem__ImageWrapper--withAlternateImage{% endif %}">
      {%- if use_horizontal -%}
        {%- assign max_width = 125 -%}
      {%- else -%}
        {%- assign max_width = product.featured_image.width -%}
      {%- endif -%}

      <div class="AspectRatio AspectRatio--{% if use_natural_size %}withFallback{% else %}{{ settings.product_image_size }}{% endif %}" style="max-width: {{ max_width }}px; {% if use_natural_size %}padding-bottom: {{ 100.0 | divided_by: product.featured_image.aspect_ratio }}%;{% endif %} --aspect-ratio: {{ product.featured_image.aspect_ratio }}">
        {%- comment -%}
        IMPLEMENTATION NOTE: The alternate image (not visible by default) should be the first in the DOM, as the spinner (Image__Loader element) is
        displayed based on the immediately previously shown image.
        {%- endcomment -%}

        {%- if has_alternate_image -%}
          {%- include 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: product.images[1] -%}
          {%- assign image_url = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <img class="ProductItem__Image ProductItem__Image--alternate Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.images[1].alt | escape }}" data-image-id="{{ product.images[1].id }}">
        {%- endif -%}

        {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: product.featured_image -%}
        {%- assign image_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        <img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.featured_image.alt | escape }}" data-image-id="{{ product.featured_image.id }}">
        <span class="Image__Loader"></span>

        <noscript>
          <img class="ProductItem__Image ProductItem__Image--alternate" src="{{ product.images[1] | img_url: '600x' }}" alt="{{ product.images[1].alt | escape }}">
          <img class="ProductItem__Image" src="{{ product.featured_image | img_url: '600x' }}" alt="{{ product.featured_image.alt | escape }}">
        </noscript>
      </div>
    </a>

    {%- if show_labels -%}
      {%- capture product_labels -%}
        {%- for tag in product.tags -%}
          {%- if tag contains '__label' -%}
            <span class="ProductItem__Label Heading Text--subdued">{{ tag | split: '__label:' | last }}</span>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if product.available -%}
          {%- if product.compare_at_price > product.price -%}
            <span class="ProductItem__Label Heading Text--subdued">{{ 'product.labels.on_sale' | t }}</span>
          {%- endif -%}
        {%- else -%}
          <span class="ProductItem__Label Heading Text--subdued">{{ 'product.labels.sold_out' | t }}</span>
        {%- endif -%}
      {%- endcapture -%}

      {%- if product_labels != blank -%}
        <div class="ProductItem__LabelList">
          {{ product_labels }}
        </div>
      {%- endif -%}
    {%- endif -%}

    {%- if show_product_info -%}
      <div class="ProductItem__Info {% unless use_horizontal %}ProductItem__Info--{{ settings.product_info_alignment }}{% endunless %}">
        {%- if show_vendor -%}
          <p class="ProductItem__Vendor Heading">{{ product.vendor }}</p>
        {%- endif -%}

        <h2 class="ProductItem__Title Heading {% if title_accent %}green-accent{% endif %}">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </h2>
        <h4>{{ product.type }}</h4>

        {%- if show_color_swatch -%}
          {%- assign color_swatch_list = '' -%}

          {%- capture color_swatch -%}
            {%- capture color_name -%}{{ section.id }}-{{ product.id }}-{% increment color_name %}{%- endcapture -%}

            {%- for option in product.options_with_values -%}
              {%- assign downcased_option = option.name | downcase -%}

              {%- if downcased_option == 'color' or downcased_option == 'colour' or downcased_option == 'couleur' -%}
                {%- assign variant_option = 'option' | append: forloop.index -%}

                {%- for value in option.values -%}
                  {%- assign downcased_value = value | downcase -%}
                  {%- capture color_id -%}{{ section.id }}-{{ product.id }}-{% increment color_index %}{%- endcapture -%}

                  {%- for variant in product.variants -%}
                    {%- if variant[variant_option] == value -%}
                      {%- assign variant_for_value = variant -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}

                  <div class="ProductItem__ColorSwatchItem">
                    {%- if variant_for_value.image -%}
                      {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: variant_for_value.image -%}
                      {%- assign variant_image_url = variant_for_value.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {%- endif -%}

                    <input class="ColorSwatch__Radio" type="radio" name="{{ color_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked="checked"{% endif %} data-variant-url="{{ variant_for_value.url }}{% if variant_for_value.image %}#Image{{ variant_for_value.image.id }}{% endif %}" {% if variant_for_value.image %}data-image-id="{{ variant_for_value.image.id }}" data-image-url="{{ variant_image_url }}" data-image-widths="[{{ supported_sizes }}]" data-image-aspect-ratio="{{ variant_for_value.image.aspect_ratio }}"{% endif %} aria-hidden="true">
                    <label class="ColorSwatch ColorSwatch--small" for="{{ color_id }}" style="background-color: {{ value | replace: ' ', '' | downcase }}; background-image: url({{ value | handle | append: '.png' | asset_url }})" title="{{ value | escape }}" data-tooltip="{{ value | escape }}"></label>
                  </div>
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}

          {%- if color_swatch != blank -%}
            {%- capture color_swatch_list -%}
              <div class="ProductItem__ColorSwatchList">
                {{- color_swatch -}}
              </div>
            {%- endcapture -%}
          {%- endif -%}
        {%- endif -%}

        {%- if show_price_on_hover == nil -%}
          {%- assign show_price_on_hover = settings.product_show_price_on_hover -%}
        {%- endif -%}

        {%- if show_price_on_hover and color_swatch_list != blank -%}
          {{- color_swatch_list -}}
        {%- endif -%}

        {%- if product.template_suffix != 'coming-soon' -%}
          <div class="ProductItem__PriceList {% if show_price_on_hover %}ProductItem__PriceList--showOnHover{% endif %} Heading">
            {%- if product.compare_at_price > product.price -%}
              <span class="ProductItem__Price Price Price--highlight Text--subdued" data-money-convertible>{{ product.price | money_without_trailing_zeros }}</span>
              <span class="ProductItem__Price Price Price--compareAt Text--subdued" data-money-convertible>{{ product.compare_at_price | money_without_trailing_zeros }}</span>
            {%- elsif product.price_varies -%}
              {%- comment -%} Get min. available variant price {%- endcomment -%}
              {%- assign min_price = product.price_max -%}
              {%- for variant in product.variants -%}
                {%- if variant.available and variant.price < min_price -%}{%- assign min_price = variant.price -%}{%- endif -%}
              {%- endfor -%}
              {%- capture formatted_min_price -%}<span data-money-convertible>{{ min_price | money_without_trailing_zeros }}</span>{%- endcapture -%}
              {%- capture formatted_max_price -%}<span data-money-convertible>{{ product.price_max | money_without_trailing_zeros }}</span>{%- endcapture -%}
              <span class="ProductItem__Price Price Text--subdued">{{ 'collection.product.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
            {%- else -%}
              <span class="ProductItem__Price Price Text--subdued" data-money-convertible>{{ product.price | money_without_trailing_zeros }}</span>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if show_price_on_hover == false and color_swatch_list != blank -%}
          {{- color_swatch_list -}}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>

  {%- if use_horizontal -%}
    <a href="{{ associated_product.url }}" class="ProductItem__ViewButton Button Button--secondary hidden-pocket">{{ 'collection.product.view_product' | t }}</a>
  {%- endif -%}
</div>