{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": false,
  "hasShippingEstimator": {% if section.settings.show_shipping_estimator and cart.item_count > 0 %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  {%- if cart.item_count == 0 -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5 pink-accent">{{ 'cart.general.empty' | t }}</h1>

        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
          {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}

          <p class="Text--subdued">{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
        {%- endif -%}

        <a href="/collections/all" class="EmptyState__Action Button Button--primary">{{ 'cart.general.empty_button' | t }}</a>
      </div>
    </div>
  {%- else -%}
    <div class="Container">
      <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1 pink-accent">{{ 'cart.general.title' | t }}</h1>

          {%- if settings.cart_show_free_shipping_threshold -%}
            {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

            <p class="SectionHeader__Description Text--subdued">
              {%- if cart.total_price >= threshold_in_cents -%}
                {{- 'cart.general.free_shipping' | t -}}
              {%- else -%}
                {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
                {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}
              {%- endif -%}
            </p>
          {%- endif -%}
        </div>
      </header>
      
      <div class="PageContent">
        <form action="/cart" method="POST" class="Cart Cart--expanded">
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% include 'cart-items' %}
          
          <footer class="Cart__Footer">
            <div class="Cart__Recap">
				<span class="Cart__Total Heading u-h6">{{ 'cart.general.total' | t }}: <span data-money-convertible>{{ cart.total_price | money_without_trailing_zeros }}</span></span>
            </div>
          </footer>
          
          <div class="SectionHeader SectionHeader--center SectionHeader--CartInfo">
          	<h2 class="SectionHeader__Heading Heading u-h1 pink-accent">Dodatkowe informacje</h2>
          </div>
          
          <div class="SectionCartInfo">
            {% assign excluded_dates = section.settings.excluded_dates | newline_to_br | split: '<br />' | join: ',' | replace: ' ', '' | strip_newlines %}
            <div class="SectionCartInfo__Item SectionCartInfo__Delivery">
              <h2>Dostawa Twoich roślin</h2>
              <div class="SectionCartInfo__Delivery__Item" data-type="warsaw">
                <p>Dostarczamy nasze rośliny w soboty. W kalendarzu poniżej wybierz sobotę, w którą chcesz, żebyśmy przywieźli Twoje zamówienie. W środę poprzedzającą datę dostawy otrzymasz od nas wiadomość SMS z godzinnym przedziałem czasowym, kiedy do Ciebie przyjedziemy.</p> 
                <label class="datepicker">
                  <i class="far fa-calendar-alt"></i> Wybierz datę dostawy:
                  <input type="text" id="delivery-datepicker" name="attributes[Data dostawy]" data-last-date="{{ cart.attributes['Data dostawy'] }}" data-excluded-dates="{{ excluded_dates }}" data-sunday-allowed="{{ section.settings.sunday_allowed }}" autocomplete="off" required>
                </label>
              </div>
              <div class="SectionCartInfo__Delivery__Item" data-type="other">
                <p>Zapakujemy rośliny do specjalnie zaprojektowanych pudeł i wyślemy je do Ciebie kurierem. Musimy je najpierw sprowadzić ze szklani i dopiero potem możemy do Ciebie wysłać - ten proces może trwać od tygodnia do dwóch. Otrzymasz od nas maila jak tylko wyślemy Twoje rośliny - trafią do Ciebie najpewniej następnego dnia po tej wiadomości.</p>
              </div>
            </div>
            
            {%- if settings.cart_enable_notes -%}
            <div class="SectionCartInfo__Item">
              <h2>Uwagi do zamówienia</h2>
              <p>Masz specjalne życzenie? Zamawiasz rośliny na prezent? Chcesz, żebyśmy zostawili je u sąsiada, albo na portierni? Napisz nam o tym!</p>
              <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="4">{{ cart.note }}</textarea>  
            </div>
            {%- endif -%}
            
            <div class="SectionCartInfo__Item">
              <h2>Faktura?</h2>
              <p>Prowadzisz działalność i będziesz potrzebować faktury? Wpisz poniżej swój numer NIP.</p>
              <input type="text" id="vat_number" name="attributes[NIP]" value="{{ cart.attributes['NIP'] }}" autocomplete="off">
            </div>
            
            <!-- Add Shipping Code -->
            <input type="hidden" id="shipping-zip" name="attributes[Kod pocztowy]" value="{{ cart.attributes['Kod pocztowy'] }}">
            
            <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">{{ 'cart.general.checkout' | t }}</button>
          </div>

        </form>

        {%- if section.settings.show_shipping_estimator -%}
          <div class="Section Section--spacingExtraLarge">
            <div class="Panel">
              <h2 class="Panel__Title Heading u-h2">{{ 'cart.shipping_estimator.title' | t }}</h2>

              <div class="Panel__Content">
                <div class="ShippingEstimator">
                  <div class="ShippingEstimator__Form">
                    <div class="ShippingEstimator__Country Form__Select Select Select--primary">
                      {%- include 'icon' with 'select-arrow' -%}
                      <select name="country" title="{{ 'cart.shipping_estimator.country' | t }}" data-default="{% if customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_estimator_default_country != '' %}{{ section.settings.shipping_estimator_default_country }}{% endif %}">{{ all_country_option_tags }}</select>
                    </div>

                    <div class="ShippingEstimator__Province Form__Select Select Select--primary" style="display: none">
                      {%- include 'icon' with 'select-arrow' -%}
                      <select name="province" title="{{ 'cart.shipping_estimator.province' | t }}"></select>
                    </div>
 
                    <input type="text" class="ShippingEstimator__Zip Form__Input" name="zip" placeholder="{{ 'cart.shipping_estimator.zip_code' | t }}">

                    <button type="button" class="ShippingEstimator__Submit Button Button--primary">{{ 'cart.shipping_estimator.estimate' | t }}</button>
                  </div>

                  <div class="ShippingEstimator__Error Alert Alert--error" style="display: none"></div>
                  <div class="ShippingEstimator__Results">
                    <div class="ShippingEstimator__ResultsInner"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Cart page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country to use",
      "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
      "default": "United States"
    },
	{
	  "type": "header",
	  "content": "Delivery date"
	},
	{
	  "type": "checkbox",
	  "id": "sunday_allowed",
	  "label": "Allow delivery on Sunday",
	  "default": false
	},
	{
      "type": "textarea",
      "id": "excluded_dates",
      "label": "Excluded dates",
      "info": "Format: DD.MM.YYYY (one per line)"
    }
  ]
}
{% endschema %}


<style>
.SectionHeader--CartInfo {
  margin: 70px 0 50px 0;
}
.SectionCartInfo input[type=text] {
    width: 100%;
    max-width: 300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dedede;
    padding: 0 15px;
}
.SectionCartInfo__Item {
  margin: 0 0 30px 0;
}
.SectionCartInfo__Item:last-child {
  margin: 0;
}
.SectionCartInfo__Item h2 {
  font-family: "olympiclight", sans-serif;
  font-size: 1.3rem;
  color: #3e3e3e;
  margin: 0 0 5px 0;
}
</style>