{%- capture section_settings -%}
  {
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": false,
  "hasShippingEstimator": {% if section.settings.show_shipping_estimator and cart.item_count > 0 %}true{% else %}false{% endif %}
  }
{%- endcapture -%}
<section data-section-id="{{ section.id }}" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  {%- if cart.item_count == 0 -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5 green-accent">{{ 'cart.general.empty' | t }}</h1>
        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
          {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
          <p class="Text--subdued">{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
        {%- endif -%}
        <a href="/collections/all" class="EmptyState__Action Button Button--primary">{{ 'cart.general.empty_button' | t }}</a>
      </div>
    </div>
  {%- else -%}
    <div class="Container">
      <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1 green-accent">{{ 'cart.general.title' | t }}</h1>
        </div>
      </header>
      <div class="PageContent">
        <form action="/cart" method="POST" class="Cart Cart--expanded">
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">
          <div class="Grid Grid--center">
            <div class="Grid__Cell 1--tablet 5/12--lap-and-up">
              {%- if settings.cart_show_free_shipping_threshold -%}
                {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
                <div class="remaining">
                  <p>
                    {%- if cart.total_price >= threshold_in_cents -%}
                      {{- 'cart.general.free_shipping' | t -}}
                    {%- else -%}
                      {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
                      {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}
                    {%- endif -%}
                  </p>
                </div>
              {%- endif -%}
              <div class="SectionCartInfo">
                <div class="SectionCartInfo__Item SectionCartInfo__Delivery">
                  <h2 class="DeliveryHeader">Wybierz formę dostawy:</h2>
                  {%- include 'snippet-local-delivery-cart' -%}
                </div>
                {%- if settings.cart_enable_notes -%}
                  <div class="SectionCartInfo__Item">
                    <h3>Uwagi do zamówienia</h3>
                    <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="4">{{ cart.note }}</textarea>
                  </div>
                {%- endif -%}
              </div>
            </div>
            <div class="Grid__Cell 1--tablet 2/12--lap-and-up">
              <p>&nbsp;</p>
            </div>
            <div class="Grid__Cell 1--tablet 5/12--lap-and-up">
              <div class="ItemList">
                {% include 'cart-items' %}
                <footer class="Cart__Footer">
                  <div class="Cart__Recap">
                    <div class="Cart__Total">Suma <span data-money-convertible>{{ cart.total_price | money_without_trailing_zeros }}</span></div>
                  </div>
                </footer>
                <!-- Add Shipping Code -->
                <input type="hidden" id="shipping-zip" name="attributes[Kod pocztowy]" value="{{ cart.attributes['Kod pocztowy'] }}">
                <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">Dalej</button>
                <div id="Invoice">
                  <input type="checkbox" id="InvoiceCheckbox"><label for="InvoiceCheckbox">Jestem klientem biznesowym (faktura)</label>
                  <div id="InvoiceToggle">
                    <p>Wpisz poniżej swój numer NIP:</p>
                    <input type="text" id="vat_number" name="attributes[NIP]" value="{{ cart.attributes['NIP'] }}" autocomplete="off">
                  </div>
                </div>
                <p class="CartItemsNote">Masz kod rabatowy? Użyjesz go w następnym kroku.</p>
              </div>
            </div>
          </div>
        </form>

        {%- if section.settings.show_shipping_estimator -%}
          <div class="Section Section--spacingExtraLarge">
            <div class="Panel">
              <h2 class="Panel__Title Heading u-h2">{{ 'cart.shipping_estimator.title' | t }}</h2>
              <div class="Panel__Content">
                <div class="ShippingEstimator">
                  <div class="ShippingEstimator__Form">
                    <div class="ShippingEstimator__Country Form__Select Select Select--primary">
                      {%- include 'icon' with 'select-arrow' -%}
                      <select name="country" title="{{ 'cart.shipping_estimator.country' | t }}" data-default="{% if customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_estimator_default_country != '' %}{{ section.settings.shipping_estimator_default_country }}{% endif %}">{{ all_country_option_tags }}</select>
                    </div>
                    <div class="ShippingEstimator__Province Form__Select Select Select--primary" style="display: none">
                      {%- include 'icon' with 'select-arrow' -%}
                      <select name="province" title="{{ 'cart.shipping_estimator.province' | t }}"></select>
                    </div>
                    <input type="text" class="ShippingEstimator__Zip Form__Input" name="zip" placeholder="{{ 'cart.shipping_estimator.zip_code' | t }}">
                    <button type="button" class="ShippingEstimator__Submit Button Button--primary">{{ 'cart.shipping_estimator.estimate' | t }}</button>
                  </div>
                  <div class="ShippingEstimator__Error Alert Alert--error" style="display: none"></div>
                  <div class="ShippingEstimator__Results">
                    <div class="ShippingEstimator__ResultsInner"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</section>
{% schema %}
{
  "name": "Cart page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country to use",
      "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
      "default": "United States"
    },
	{
	  "type": "header",
	  "content": "Delivery date"
	},
	{
	  "type": "checkbox",
	  "id": "sunday_allowed",
	  "label": "Allow delivery on Sunday",
	  "default": false
	},
	{
      "type": "textarea",
      "id": "excluded_dates",
      "label": "Excluded dates",
      "info": "Format: DD.MM.YYYY (one per line)"
    }
  ]
}
{% endschema %}


<style>
.SectionHeader--CartInfo {
  margin: 70px 0 50px 0;
}
.SectionCartInfo input[type=text] {
    width: 100%;
    max-width: 300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dedede;
    padding: 0 15px;
}
.SectionCartInfo__Item {
  margin: 0 0 30px 0;
}
.SectionCartInfo__Item:last-child {
  margin: 0;
}
.SectionCartInfo__Item h2 {
  font-family: "olympiclight", sans-serif;
  font-size: 1.3rem;
  color: #3e3e3e;
  margin: 0 0 5px 0;
}
#order-delivery:not(.ld_place_right_side) {
  width: auto;
}
.remaining {
  background: #EBDDC1;
  border-radius: 4px;
  color: #225743;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
h2.DeliveryHeader {
  color: #225743;
  margin-bottom: 20px;
}
.Cart__Note {
  background: #fff;
}
.SectionCartInfo__Delivery {
  margin-bottom: -20px;
}
.CartItemsNote {
  font-size: 14px;
  color: #225743;
  margin-top: 20px;
}
.Cart__Checkout.Button.Button--primary.Button--full {
  width: 100%;
  text-transform: none;
  font-size: 20px;
  margin-bottom: 20px;
}
#Invoice {
  color: #225743;
}
#InvoiceCheckbox,
#Invoice > label {
  cursor: pointer;
}
#InvoiceCheckbox {
  width: 17px;
  height: 17px;
  border: 1px solid #225743;
  border-radius: 2px;
  margin-right: 14px;
  vertical-align: text-top;
}
#InvoiceCheckbox:checked {
  background: #225743;
}
#InvoiceToggle {
  padding-top: 10px;
  display: none;
}
#InvoiceToggle p {
  margin: 0;
}
#vat_number {
  border: 1px solid #E3DCCD;
  width: 50%;
  line-height: 25px;
}
.ItemList {
  border: 1px solid #FFFFFF;
  box-shadow: 0 4px 10px #E3DCCD;
  border-radius: 2px;
  padding: 20px;
}
.Cart--expanded .CartItem__Info~.CartItem__LinePrice {
  min-width: 50px;
  vertical-align: top;
  padding-top: 20px;
}
.ItemListHeading {
  font-size: 22px;
  line-height: 16px;
  margin-top: 20px;
}
.Cart--expanded .Cart__ItemList {
  border-spacing: 0;
  margin-bottom: 20px;
}
.ItemList .AspectRatio {
  clip-path: circle(30px at center);
}
.CartItem__ImageWrapper {
  min-width: 60px;
  width: 60px;
}
.CartItem__Info {
  padding-top: 20px;
}
.Cart--expanded .Cart__ItemList .CartItem__Info {
  max-width: 250px;
}
.CartItem__Info .CartItem__Title,
.CartItem__Info .CartItem__Meta {
  font-size: 16px;
}
.CartItem__PropertyList {
  font-style: normal;
}
.ItemList .CartItem__Variant {
  margin-bottom: 0;
}
.CartItem__Remove {
  margin: 0;
  font-size: 14px;
  color: #225743;
}
.CartItem__Remove:before {
  background: #225743;
  bottom: 7px;
}
.Price {
  font-size: 16px;
  line-height: 1.1;
}
.Cart--expanded .Cart__Footer {
  border-color: #E9E3D9;
  padding-top: 15px;
}
.Cart__Total {
  text-align: left;
  color: #225743;
  font-size: 16px;
}
.Cart__Total > span {
  float: right;
}
</style>