{% assign delayTime = 0 %}

{%- if section.settings.enable_bar -%}
  {%- unless section.settings.home_page_only and template != 'index' -%}
    <section id="CustomAnnouncementBar" class="CustomAnnouncementBar">
      <button class="CustomAnnouncementBar_exit"></button>
      <div class="CustomAnnouncementBar_content">
        <div class="CustomAnnouncementBar_text">
          <h3>{{ section.settings.content_header | escape }}</h3>
          {%- if section.settings.content_text -%}<p>{{ section.settings.content_text | escape }}</p>{%- endif -%}
        </div>
        <div class="CustomAnnouncementBar_action">
          {% if section.settings.enable_newsletter %}
          	{%- assign newsletter_id = 'footer-' | append: section.id -%}

          	{%- form 'customer', id: newsletter_id, class: 'Newsletter Form' -%}
              {% if form.posted_successfully? %} {% assign delayTime = section.settings.delay %} {% endif %}
              {%- if form.posted_successfully? -%}
              	<p class="Form__Alert Alert Alert--success">{{ 'home_page.newsletter.success' | t }}</p>
              {%- else -%}
              {%- if form.errors -%}
              	<p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
              {%- endif -%}

              <div class="Newsletter__Inner">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'home_page.newsletter.input' | t }}" placeholder="{{ 'home_page.newsletter.input' | t }}" required>
                <button type="submit" class="Form__Submit Button Button--primary">{{ 'home_page.newsletter.submit' | t }}</button>
              </div>
              {%- endif -%}
            {%- endform -%}
          
          {% else %}
          	{%- if section.settings.link -%}
          		<a href="{{ section.settings.link }}" class="CustomAnnouncementBar_button Button Button--primary">{{ section.settings.link_text | escape }}</a>
          	{%- endif -%}
          {% endif %}
        </div> 
      </div>
    </section>

    <style>
      #CustomAnnouncementBar {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
      }
    </style>

	<script>
      document.addEventListener("DOMContentLoaded", function() {
        const customAnnouncementStatus = getCookie('customAnnoucement');
        if (!customAnnouncementStatus || customAnnouncementStatus != 'hidden') {
          const secs = {{ delayTime }};
          const msecs = secs*1000;
          setTimeout(showBottomAnnouncement, msecs);
        }
      });
	</script>
  {%- endunless -%}
{%- endif -%}

{% schema %}
{
  "name": "Bottom Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "content_header",
      "label": "Header",
      "default": "Tutaj wpisz treść nagłówka 🌲"
    },
	{
      "type": "textarea",
      "id": "content_text",
      "label": "Description",
      "default": "Tutaj mozesz umieścić jakiś dłuższy tekst (opcjonalnie)."
    },
	{
      "type": "text",
      "id": "link_text",
      "label": "Button",
      "default": "Zapisz się"
    },
    {
	  "label": "Button link",
      "type": "url",
      "id": "link"
    },
	{
	  "label": "Entry animation delay (in seconds)",
      "type": "range",
      "id": "delay",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "s",
      "default": 3
    },
	{
      "type": "checkbox",
      "id": "enable_newsletter",
      "label": "Show newsletter and hide button",
      "default": true
    }
  ]
}
{% endschema %}