<div class="Product Product--medium">
	<div class="Product__InfoBottom ">
  <div class="Product__Info Product__Info--noGallery">
    <div class="Container">
      {%- include 'product-meta', show_description: true -%}
      {%- if product.template_suffix != 'coming-soon' -%}

        {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
        {%- assign size_label = 'size,rozmiar,taille,bröße,tamanho,tamaño,koko,サイズ' | split: ',' -%}

        {%- assign size_chart_page = '' -%}
        
        {%- assign show_option_label = false -%}

        {%- assign selected_variant = product.selected_or_first_available_variant -%}

        {%- form 'product', product, class: 'ProductForm' -%}
          <div class="ProductForm__Variants">
            {%- unless product.has_only_default_variant -%}
              {%- for option in product.options_with_values -%}
                {%- assign downcase_option = option.name | downcase -%}

                {%- if color_label contains downcase_option and section.settings.show_color_swatch -%}
                  {%- assign show_option_label = true -%}
                {%- endif -%}

                {%- if size_label contains downcase_option and section.settings.show_size_swatch -%}
                  {%- assign show_option_label = true -%}
                {%- endif -%}
              {%- endfor -%}

              {%- for option in product.options_with_values -%}
                {%- assign downcase_option = option.name | downcase -%}
                {%- capture popover_id -%}popover-{{ product.id }}-{{ section.id }}-{{ option.name | handle }}{%- endcapture -%}

                <div class="ProductForm__Option {% if show_option_label %}ProductForm__Option--labelled{% endif %}">
                  {%- if show_option_label -%}
                    {%- assign size_chart_page_handle = settings.size_chart_page | default: 'size-chart' -%}
                    {%- assign size_chart_page = pages[size_chart_page_handle] -%}

                    <span class="ProductForm__Label">
                      {{ option.name }}:

                      {% if color_label contains downcase_option and section.settings.show_color_swatch %}
                        <span class="ProductForm__SelectedValue">{{ option.selected_value }}</span>
                      {% endif %}

                      {%- if size_label contains downcase_option and size_chart_page != empty -%}
                        <button type="button" class="ProductForm__LabelLink Link Text--subdued" data-action="open-modal" aria-controls="modal-{{ size_chart_page.handle }}">
                        {{- 'product.form.size_chart' | t -}}
                      </button>
                      {%- endif -%}
                    </span>
                  {%- endif -%}

                  {%- if color_label contains downcase_option and section.settings.show_color_swatch -%}
                    <ul class="ColorSwatchList HorizontalList HorizontalList--spacingTight">
                      {%- for value in option.values -%}
                        {%- assign downcase_value = value | downcase -%}

                        <li class="HorizontalList__Item">
                          <input id="option-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}-alt" class="ColorSwatch__Radio mapAttr" type="radio" name="option-{{ forloop.parentloop.index0 }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-option-position="{{ option.position }}">
                          <label for="option-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}-alt" class="ColorSwatch ColorSwatch--large {% if downcase_value == 'white' %}ColorSwatch--white{% endif %}" data-tooltip="{{ value | escape }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.png' | asset_url }})">
                            <span class="u-visually-hidden">{{ value }}</span>
                          </label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- elsif size_label contains downcase_option and section.settings.show_size_swatch -%}
                    <ul class="SizeSwatchList HorizontalList HorizontalList--spacingTight">
                      {%- for value in option.values -%}
                        <li class="HorizontalList__Item">
                          <input id="option-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}-alt" class="SizeSwatch__Radio mapAttr" type="radio" name="option-{{ forloop.parentloop.index0 }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-option-position="{{ option.position }}">
                          <label for="option-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}-alt" class="SizeSwatch">{{ value }}</label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- else -%}
                    <button type="button" class="ProductForm__Item" aria-expanded="false" aria-controls="{{ popover_id }}">
                      <span class="ProductForm__OptionName">{% unless show_option_label %}{{ option.name }}: {% endunless %}<span class="ProductForm__SelectedValue">{{ option.selected_value }}</span></span>
                      {%- include 'icon' with 'select-arrow' -%}
                    </button>

                    {%- capture popover_html -%}
                      {%- if color_label contains downcase_option and section.settings.show_color_carousel -%}
                        {%- for value in option.values -%}
                          {%- if value == option.selected_value -%}
                            {%- assign initial_image_index = forloop.index0 -%}
                            {%- break -%}
                          {%- endif -%}
                        {%- endfor -%}

                        {%- capture flickity_options -%}
                        {
                          "prevNextButtons": true,
                          "pageDots": true,
                          "initialIndex": {{ initial_image_index }},
                          "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
                        }
                        {%- endcapture -%}

                        <div id="{{ popover_id }}" class="VariantSelector" aria-hidden="true">
                          {%- capture option_index -%}option{{ option.position }}{%- endcapture -%}

                          <div class="VariantSelector__Carousel Carousel" data-flickity-config='{{ flickity_options }}'>
                            {%- for value in option.values -%}
                              {%- for variant in product.variants -%}
                                {%- if variant[option_index] == value -%}
                                  {%- assign variant_image = variant.image | default: product.featured_image -%}
                                  {%- break -%}
                                {%- endif -%}
                              {%- endfor -%}

                              <div class="VariantSelector__Item Carousel__Cell {% if value == option.selected_value %}is-selected{% endif %}"
                                   data-background-color="{{ value | split: ' ' | last | handle }}"
                                   data-background-image="{{ value | handle | append: '.png' | asset_url }}"
                                   data-option-position="{{ option.position }}"
                                   data-option-value="{{ value | escape }}">
                                <div class="VariantSelector__ImageWrapper AspectRatio AspectRatio--withFallback" style="max-width: {{ variant_image.width }}px; padding-bottom: {{ 100.0 | divided_by: variant_image.aspect_ratio }}%; --aspect-ratio: {{ variant_image.aspect_ratio }}">
                                  {%- include 'image-size', sizes: '200,400,600,800', image: variant_image -%}
                                  {%- assign image_url = variant_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                                  <img class="VariantSelector__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ variant_image.alt | escape }}">
                                  <span class="Image__Loader"></span>
                                </div>
                              </div>
                            {%- endfor -%}
                          </div>

                          <div class="VariantSelector__Info">
                            <div class="VariantSelector__ChoiceList">
                              {%- for value in option.values -%}
                                {%- assign available_prices_for_option_value = '' -%}

                                {%- for variant in product.variants -%}
                                  {%- if variant[option_index] == value -%}
                                    {%- assign available_prices_for_option_value = available_prices_for_option_value | append: variant.price | append: ',' -%}
                                  {%- endif -%}
                                {%- endfor -%}

                                {%- assign available_prices_for_option_value = available_prices_for_option_value | split: ',' | compact | uniq | sort -%}

                                <div class="VariantSelector__Choice {% if value == option.selected_value %}is-selected{% endif %}">
                                  <div class="VariantSelector__ChoiceColor">
                                    {%- assign downcase_value = value | downcase -%}
                                    <span class="VariantSelector__ColorSwatch {% if downcase_value == 'white' %}VariantSelector__ColorSwatch--white{% endif %}" style="background-color: {{ value | replace: ' ', '' }}; background-image: url({{ value | handle | append: '.png' | asset_url }})"></span>

                                    <span class="VariantSelector__ChoiceValue">{{ value }}</span>
                                  </div>

                                  <div class="VariantSelector__ChoicePrice">
                                    {%- if available_prices_for_option_value.size > 1 -%}
                                      {%- capture formatted_min_price -%}<span data-money-convertible>{{ available_prices_for_option_value.first | money_without_trailing_zeros }}</span>{%- endcapture -%}
                                      {%- capture formatted_max_price -%}<span data-money-convertible>{{ available_prices_for_option_value.last | money_without_trailing_zeros }}</span>{%- endcapture -%}
                                      <span class="Heading Text--subdued">{{ 'product.form.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
                                    {%- else -%}
                                      <span class="Heading Text--subdued" data-money-convertible>{{ available_prices_for_option_value.first | money_without_trailing_zeros }}</span>
                                    {%- endif -%}
                                  </div>
                                </div>
                              {%- endfor -%}
                            </div>

                            <button type="button" class="VariantSelector__Button Button Button--primary Button--full" data-action="select-variant">{{- 'product.form.select_model' | t -}}</button>
                          </div>
                        </div>
                      {%- else -%}
                        <div id="{{ popover_id }}" class="OptionSelector Popover Popover--withMinWidth" aria-hidden="true">
                          <header class="Popover__Header">
                            <button type="button" class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% include 'icon' with 'close' %}</button>
                            <span class="Popover__Title Heading u-h4">{{ option.name | escape }}</span>
                          </header>

                          <div class="Popover__Content">
                            <div class="Popover__ValueList" data-scrollable>
                              {%- for value in option.values -%}
                                <button type="button" class="Popover__Value {% if value == option.selected_value %}is-selected{% endif %} Heading Link Link--primary u-h6"
                                        data-value="{{ value | escape }}"
                                        data-option-position="{{ option.position }}"
                                        data-action="select-value">
                                  {{- value | escape -}}
                                </button>
                              {%- endfor -%}
                            </div>

                            {%- assign size_chart_page_handle = settings.size_chart_page | default: 'size-chart' -%}
                            {%- assign size_chart_page = pages[size_chart_page_handle] -%}

                            {%- if show_option_label == false and size_label contains downcase_option and size_chart_page != empty -%}
                              <button type="button" class="Popover__FooterHelp Heading Link Link--primary Text--subdued u-h6" data-action="open-modal" aria-controls="modal-{{ size_chart_page.handle }}">
                                {{- 'product.form.size_chart' | t -}}
                              </button>
                            {%- endif -%}
                          </div>
                        </div>
                      {%- endif -%}
                    {%- endcapture -%}

                    {%- assign product_popovers = product_popovers | append: popover_html -%}
      
                  {%- endif -%}
                </div>
              {%- endfor -%}

              <div class="no-js ProductForm__Option">
                <div class="Select Select--primary">
                  {%- include 'icon' with 'select-arrow' -%}

                  <select id="product-select-{{ product.id }}-alt" name="id" title="Variant">
                    {%- for variant in product.variants -%}
                      <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                    {%- endfor -%}
                  </select>
                </div>
              </div>
            {%- else -%}
              <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
            {%- endunless -%}

            {%- if section.settings.show_quantity_selector -%}
              {%- if show_option_label -%}
                <span class="ProductForm__Label">{{ 'product.form.quantity' | t }}:</span>
              {%- endif -%}

              <div class="ProductForm__QuantitySelector">
                <div class="QuantitySelector QuantitySelector--large">
                  {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

                  <span class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">{% include 'icon' with 'minus' %}</span>
                  <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1">
                  <span class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">{% include 'icon' with 'plus' %}</span>
                </div>
              </div>
            {%- else -%}
              <input type="hidden" name="quantity" value="1">
            {%- endif -%}

            {%- if section.settings.show_inventory_quantity -%}
              {%- assign hide_inventory_quantity_by_default = false -%}

              {%- if selected_variant.inventory_management == blank or selected_variant.inventory_quantity <= 0 -%}
                {%- assign hide_inventory_quantity_by_default = true -%}
              {%- endif -%}

              {%- if section.settings.inventory_quantity_threshold != 0 and selected_variant.inventory_quantity > section.settings.inventory_quantity_threshold -%}
                {%- assign hide_inventory_quantity_by_default = true -%}
              {%- endif -%}

              <p class="ProductForm__Inventory Text--subdued" {% if hide_inventory_quantity_by_default %}style="display: none"{% endif %}>
                {%- if section.settings.inventory_quantity_threshold == 0 -%}
                  {{- 'product.form.inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
                {%- else -%}
                  {{- 'product.form.low_inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
                {%- endif -%}
              </p>
            {%- endif -%}
          </div>
          <button type="submit" class="ProductForm__AddToCart Button {% if selected_variant.available and section.settings.show_payment_button == false %}Button--primary{% else %}Button--secondary{% endif %} Button--full" {% if selected_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}>
            {%- if selected_variant.available -%}
              <span>{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>

              {%- if section.settings.show_price_in_button -%}
                <span class="Button__SeparatorDot"></span>
                <span data-money-convertible>{{ selected_variant.price | money_without_trailing_zeros }}</span>
              {%- endif -%}
            {%- else -%}
              {{- 'product.form.sold_out' | t -}}
            {%- endif -%}
          </button>
        {%- endform -%}
      {%- endif -%}
    </div>
  </div>
</div>
</div>

{% schema %}
{
  "name": "Product Meta Bottom",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "default": false,
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch)."
    },
    {
      "type": "checkbox",
      "id": "show_color_carousel",
      "label": "Show color carousel",
      "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_size_swatch",
      "label": "Show size swatch",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory quantity",
      "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
      "default": false
    },
    {
      "type": "range",
      "id": "inventory_quantity_threshold",
      "label": "Inventory quantity threshold",
      "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_price_in_button",
      "label": "Show price in add to cart button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    }
  ]
}
{% endschema %}