<section id="section-{{ section.id }}" class="Section Section--spacingSmall" data-section-id="{{ section.id }}" data-section-type="timeline">
  <div class="Container">
    <div class="UniqueValueProposition ArticleListWrapper">
      <div>
        <div class="UniqueValueProposition__ListItem ArticleList Grid Grid--m Grid--center">
          {%- for block in section.blocks -%}
            <div {{ block.shopify_attributes }} class="UniqueValueProposition__Item Grid__Cell 1/2--tablet 1/3--lap-and-up">
              <div class="UniqueValueProposition__ImageWrapper">
                {%- if block.settings.image -%}
                  <div class="UniqueValueProposition__Image">
                    <img src="{{ block.settings.image | img_url: '1000x' }}"> 
                  </div>
                {%- endif -%}
              </div>

              {%- capture section_inner -%}
                {%- if block.settings.subheading != blank or block.settings.heading != blank -%}
                  <header class="UniqueValueProposition__Header SectionHeader SectionHeader--center">
                    {%- if block.settings.subheading != blank -%}
                      <h3 class="SectionHeader__SubHeading Heading u-h6">{{ block.settings.subheading | escape }}</h3>
                    {%- endif -%}

                    {%- if block.settings.heading != blank -%}
                      <h2 class="SectionHeader__Heading Heading u-h1 green-accent">{{ block.settings.heading | escape }}</h2>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="SectionHeader__Description Rte">
                        {{ block.settings.content }}
                      </div>
                    {%- endif -%}
                  </header>
                {%- endif -%}
              {%- endcapture -%}

              {%- if section_inner -%}
                <div class="UniqueValueProposition__Inner">
                  {{ section_inner }}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #section-{{ section.id }} .Timeline__ListItem {
    color: {{ section.settings.text_color }};
  }
</style>

{% schema %}
{
  "name": "Unique Value Proposition",
  "class": "shopify-section--bordered shopify-section--timeline",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Mobile text color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1200px jpg recommended"
        },
        {
          "type": "checkbox",
          "id": "apply_overlay",
          "label": "Apply overlay on image",
          "info": "Only applied on mobile. This can improve text visibility.",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Label",
          "default": "2000",
          "info": "Maximum 20 characters allowed."
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "Sub-heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Unique Value Proposition",
      "settings": {},
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "2000"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "2001"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "2002"
          }
        }
      ]
    }
  ]
}
{% endschema %}