{% render 'shogun-products', content: collection %}
{{collection.metafields.shogun.above}}
{% section 'collection-template' %}
{% section 'recently-viewed-products' %}
{% section 'collection-footer' %}

{{collection.metafields.shogun.below}}

